header {
  margin: 0 0 0 0;
}
.title {
  color: yellow;
  text-align: center;
  text-shadow: 2px 2px black;
}
body {
  background: cadetblue;
}
.section {
  width: 700px;
  margin-left: 100px;
  border: 1px solid;
  background: white;
  text-align: center;
}
.images {
  display: inline-block;
  width: 250px;
}
.product {
  display: inline-block;
  width: 200px;
  border: 1px solid;
  border-radius: 5px;
  padding: 0px;
  margin: 5px;
}
.video {
  display: inline-block;
  width: 400px;
  border-bottom: 1px solid;
  margin-left: 10px;
}
.img-size {
  width: 200px;
  height: 200px;
}
