header {
  background-color: cyan;
  margin: 0 0 0 0;
}
.title {
  text-align: center;
}
.section {
  width: 1000px;
  margin-left: 200px;
  border: 1px solid;
}
.images {
  display: inline-block;
  width: 250px;
}
.product {
  display: inline-block;
  width: 200px;
  border: 1px solid;
}
.video {
  display: inline-block;
  width: 700px;
  border: 1px solid;
}
.img-size {
  width: 200px;
  height: 200px;
}
