header {
  margin: 0 0 0 0;
}
.title {
  color: yellow;
  text-align: center;
  text-shadow: 2px 2px black;
}

body {
  background: cadetblue;
}
.icon {
  display: inline;
  float: right;
}
.views {
  display: inline;
}
.section {
  display: flex;
  width: 800px;
  margin-left: 100px;
  border: 1px solid;
  border-radius: 10px;
  background: white;
  margin-left: 470px;
}
.vid {
  border-bottom: 1px solid;
  padding-bottom: 20px;
}
.images {
  display: inline-block;
  width: 350px;
  border-left: 1px solid;
  padding-left: 10px;
}
.product {
  display: inline-block;
  width: 300px;
  border: 1px solid;
  border-radius: 5px;
  padding: 0px;
  margin: 5px;
}
.product:hover {
  border: 3px solid rgb(214, 214, 16);
}
.video {
  display: inline-block;
  width: 470px;
  border-bottom: 1px solid;
  margin-left: 10px;
  padding: 10px;
  padding-top: 50px;
}
.img-size {
  width: 300px;
  height: 200px;
}
.back {
  margin-left: 10px;
  margin-top: 20px;
  color: yellow;
}
.foot {
  text-align: center;
  margin: 0 0 0 0;
}
footer {
  margin: 0;
  background-color: blue;
}
